In [1]:
print("hello world")

hello world

In [1]:
import pandas as pd

#this is a sample with getting started to machine learning.

In [10]:
df=pd.read_csv("Swiggy_50.csv",index_col=0)

In [4]:
df

,Restaurant Name,Category,Rating,Cost for two,Veg,city,Area,Locality,Address,Long Distance Delivery
0,KFC,"American,Snacks,Biryani",3.9,400,False,Delhi,Paharganj,KFC Paharganj,"KFC Restaurant 2154, Desh Bandhu Gupta Road, N...",0
1,McDonald's,American,4.3,400,False,Delhi,Kashmere Gate,Delhi ISBT DMRC (GF),"Delhi ISBT DMRC,ISBT DMRC Railway Station. Kas...",0
2,Haldiram's,"Sweets,Snacks,North Indian",4.0,350,True,Delhi,Chandni Chowk,Chandni Chowk,1452/2 Near Fountain Chandni Chowk Delhi 110015,0
3,Chai Point,"Bakery,Beverages,Maharashtrian,Snacks,Street F...",4.2,150,False,Delhi,Connaught Place,Connaught Place,"Shop No - B1, B Block Middle circle , Connaugh...",0
4,Bikanervala Chandni Chowk,"Street Food,Sweets",4.1,400,False,Delhi,Old Delhi,Old Delhi,"382, NEAR FATEH PUR, CHANDNI CHOWK,110006",0
...,...,...,...,...,...,...,...,...,...,...
31799,Khukri Desi Mutton & Chicken Point,"Indian,Biryani,Beverages",NaN,300,False,Bareilly,Pheonix Mall,Phoenix Mall,Parvana Nagar Opp.Jingel Bell Public School Pi...,1
31800,Monis Restaurant,"South Indian,Chinese,Snacks,Desserts,North Indian",NaN,250,True,Bareilly,Suncity Vistaar,Phoenix Mall,6 B Shop No.1 Vatika Suncity Vistaar Bareilly ...,1
31801,T3 Tasty Table Talks,"Indian,Thalis",NaN,200,True,Bareilly,MahaNagar Colony,Phoenix Mall,"117, Utsav-II, Ujjwal Phase - 1, Mahanagar Col...",1
31802,The Green Lemon,Indian,NaN,400,False,Bareilly,Chhoti Vihar,Phoenix Mall,Gate-1 Ashutosh City Near Phoenix Mall Pilibhi...,1
31803,Pizza Home City,"Pizzas,Beverages,Pastas,Italian,Desserts,Snacks",NaN,200,True,Bareilly,Ashutosh City,Phoenix Mall,1st Floor Urmila Maurya House No.48 Near By Me...,1

In [5]:
df.columns

Index(['Restaurant Name', 'Category', 'Rating', 'Cost for two', 'Veg', 'city',
       'Area', 'Locality', 'Address', 'Long Distance Delivery'],
      dtype='object')

In [6]:
df.Veg

0        False
1        False
2         True
3        False
4        False
         ...
31799    False
31800     True
31801     True
31802    False
31803     True
Name: Veg, Length: 31804, dtype: bool

In [11]:
df.dtypes

Category                   object
Rating                    float64
Cost for two                int64
Veg                          bool
city                       object
Area                       object
Locality                   object
Address                    object
Long Distance Delivery      int64
dtype: object

# Getting started with functions in pandas.

In [12]:
#here we'll see some ways to describe the data.
#dtypes
#columns.
#index=returns the range value were it starts and ends.
#describe
#info
#mean
#sum.


df.describe()

             Rating  Cost for two  Long Distance Delivery
count  14138.000000  31804.000000            31804.000000
mean       3.907745    289.795592                0.358414
std        0.456514    174.896346                0.479542
min        1.100000      0.000000                0.000000
25%        3.700000    200.000000                0.000000
50%        4.000000    250.000000                0.000000
75%        4.200000    300.000000                1.000000
max        5.000000   3100.000000                1.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31804 entries, KFC to Pizza Home City
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Category                31804 non-null  object
 1   Rating                  14138 non-null  float64
 2   Cost for two            31804 non-null  int64
 3   Veg                     31804 non-null  bool
 4   city                    31804 non-null  object
 5   Area                    31804 non-null  object
 6   Locality                31780 non-null  object
 7   Address                 31802 non-null  object
 8   Long Distance Delivery  31804 non-null  int64
dtypes: bool(1), float64(1), int64(2), object(5)
memory usage: 2.2+ MB

In [14]:
df.mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6156\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Rating                      3.907745
Cost for two              289.795592
Veg                         0.275123
Long Distance Delivery      0.358414
dtype: float64

In [17]:
df.sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6156\1703867807.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum()

Category                  American,Snacks,BiryaniAmericanSweets,Snacks,N...
Rating                                                              55247.7
Cost for two                                                        9216659
Veg                                                                    8750
city                      DelhiDelhiDelhiDelhiDelhiDelhiDelhiDelhiDelhiD...
Area                      PaharganjKashmere GateChandni ChowkConnaught P...
Long Distance Delivery                                                11399
dtype: object

In [16]:
df.head()

,Category,Rating,Cost for two,Veg,city,Area,Locality,Address,Long Distance Delivery
Restaurant Name,,,,,,,,,
KFC,"American,Snacks,Biryani",3.9,400,False,Delhi,Paharganj,KFC Paharganj,"KFC Restaurant 2154, Desh Bandhu Gupta Road, N...",0
McDonald's,American,4.3,400,False,Delhi,Kashmere Gate,Delhi ISBT DMRC (GF),"Delhi ISBT DMRC,ISBT DMRC Railway Station. Kas...",0
Haldiram's,"Sweets,Snacks,North Indian",4.0,350,True,Delhi,Chandni Chowk,Chandni Chowk,1452/2 Near Fountain Chandni Chowk Delhi 110015,0
Chai Point,"Bakery,Beverages,Maharashtrian,Snacks,Street F...",4.2,150,False,Delhi,Connaught Place,Connaught Place,"Shop No - B1, B Block Middle circle , Connaugh...",0
Bikanervala Chandni Chowk,"Street Food,Sweets",4.1,400,False,Delhi,Old Delhi,Old Delhi,"382, NEAR FATEH PUR, CHANDNI CHOWK,110006",0

# Different ways of viewing Data in Pandas.

In [18]:
#here in this i tried some functions to viewing data.
#head()
#tail()
#loc()
#iloc()
df.tail()

,Category,Rating,Cost for two,Veg,city,Area,Locality,Address,Long Distance Delivery
Restaurant Name,,,,,,,,,
Khukri Desi Mutton & Chicken Point,"Indian,Biryani,Beverages",NaN,300,False,Bareilly,Pheonix Mall,Phoenix Mall,Parvana Nagar Opp.Jingel Bell Public School Pi...,1
Monis Restaurant,"South Indian,Chinese,Snacks,Desserts,North Indian",NaN,250,True,Bareilly,Suncity Vistaar,Phoenix Mall,6 B Shop No.1 Vatika Suncity Vistaar Bareilly ...,1
T3 Tasty Table Talks,"Indian,Thalis",NaN,200,True,Bareilly,MahaNagar Colony,Phoenix Mall,"117, Utsav-II, Ujjwal Phase - 1, Mahanagar Col...",1
The Green Lemon,Indian,NaN,400,False,Bareilly,Chhoti Vihar,Phoenix Mall,Gate-1 Ashutosh City Near Phoenix Mall Pilibhi...,1
Pizza Home City,"Pizzas,Beverages,Pastas,Italian,Desserts,Snacks",NaN,200,True,Bareilly,Ashutosh City,Phoenix Mall,1st Floor Urmila Maurya House No.48 Near By Me...,1

In [21]:
df.loc[3]

KeyError: 3

In [ ]:
|